@import "tailwindcss";

/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background: #f8f5ff;
  color: #1f1b2d;
}

* {
  box-sizing: border-box;
}